@{
    ViewBag.Title = "Get in Touch";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    116 North Congress St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    724.900.0099
</address>

<address>
    <strong>School Email:</strong>   <a href="mailto:bl496917@ohio.edu">bl496917@ohio.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:lowe.brendan5@gmail.com">lowe.brendan5@gmail.com</a>
</address>