@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hi, my name is Brendan Lowe, and I'm a Junior at Ohio University studying Management Information systems and Business Analytics. I am from 
    Pittsburgh, PA, but originally lived in Texas until 7th grade. I am a diehard Steelers fan and love watching games with my 
    friends (who are also usually our rivals). I have loved computers since I was a kid and have always dreamed of working 
    for a tech company one day. I was considering doing computer science, but didn't want to be behind a desk all
    day. I love getting to know people and interacting with others, which is why MIS caught my eye. OU is one of my 
    very favorite places and I am glad I decided to attend this school!</p>
